<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pissiphany.matterexplorer" >

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ui.matter.MatterActivity"
            android:label="Matter List" />

        <activity
            android:name=".view.ui.matter.MatterDetailActivity"
            android:label="Matter Detail" />

        <activity
            android:name=".view.ui.rx.RxMainActivity"
            android:label="Rx Main" />

        <service android:name=".model.service.DatabaseService" />

        <provider
            android:authorities="com.pissiphany.matterexplorer"
            android:name=".model.provider.MatterExplorerContentProvider"
            android:enabled="true"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
